<!-- <div class="loader"></div> -->

<!-- Header -->
<header id="header" class="cover" role="banner" style="background-image:url(assets/images/Fotos/Arco_boda_Carol.jpg);"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Edurne y César</h1>
            <h2>¡Nos casamos!</h2>
            <div class="simply-countdown simply-countdown-one"></div>
            <p><a href="#" class="btn btn-default btn-sm"></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Couple Intro -->
<div id="couple">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading animate-box">
        <h2>¡Bienvenidos a nuestra boda!</h2>
        <!-- <h3>22 de junio de 2024</h3> -->
        <!-- <h3>Pamplona (Navarra)</h3> -->
        <p></p>
      </div>
    </div>
    <div class="couple-wrap animate-box">
      <div class="couple-half">
        <div class="groom">
          <img src="/assets/images/Fotos/Perfil_Edurne_Amarillo.jpg" alt="groom" class="img-responsive">
        </div>
        <div class="desc-groom">
          <h3>Edurne Zalacáin</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove</p>
        </div>
      </div>
      <p class="heart text-center"><i style="padding:15px;" class="icon-heart2">
          <span  style="padding-top:5px"class="glyphicon glyphicon-heart"> </span>
        </i>
      </p>
      <div class="couple-half">
        <div class="bride">
          <img src="/assets/images/Fotos/Perfil_Cesar.jpg" alt="groom" class="img-responsive">
        </div>
        <div class="desc-bride">
          <h3>César Luis</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div id="couple-story" style="background-image:url(/assets/images/img_bg_3.jpg);"> -->
<!-- Planning-->
<div id="couple-story" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading animate-box">
        <h2>Planning</h2>
        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind -->
        <!--   texts.</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
        <ul class="timeline animate-box">
          <ng-container *ngFor="let event of planning; let index = index">
            <li class=" {{index %2 != 0 ? 'timeline-inverted': '' }} animate-box">
              <div class="timeline-badge" style="background-image:url({{event.image}});">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">{{event.title}}</h3>
                  <span class="date">{{event.location}}</span>
                </div>

                <div *ngIf="event.time !== undefined" class="timeline-body">
                  <span class="glyphicon glyphicon-time"></span>
                  {{event.time}}
                </div>
                <div class="timeline-body">
                  <a href="https://goo.gl/maps/ChYTJQnfXt1Wnn7c9"> <span class="glyphicon glyphicon-map-marker"></span>
                    Ubicación</a>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Alojamiento-->
<div id="event" class="bg" style="background-image:url(/assets/images/Fotos/ciudadela.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading animate-box">
        <!-- <span></span> -->
        <h2>Alojamiento</h2>
      </div>
    </div>
    <ng-container *ngFor="let row of hotelGroups; let index = index">
      <div class="row">
        <!-- <div class="col-md-10 col-md-offset-1"> -->
        <div class="col-md-4 col-sm-4 text-center" *ngFor="let h of row; let i = index">
          <div class="event-wrap animate-box">
            <h3>{{h.name}}</h3>
            <div>
              <a href={{h.website}}> <span class="glyphicon glyphicon-globe"></span> Web</a>
              <a href={{h.link}}> <span class="glyphicon glyphicon-map-marker"></span> Ubicación</a>
            </div>

            <!-- <div> -->
            <!--   <a href={{h.link}}> <span class="glyphicon glyphicon-map-marker"></span> -->
            <!--     Ubicación</a> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      <br>
    </ng-container>

  </div>
</div>
<div id="gallery" class="section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading animate-box">
        <h2>¡Te esperamos!</h2>
        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind -->
        <!-- texts.</p> -->
      </div>
    </div>
    <div class="row row-bottom-padded-md">
      <div class="col-md-12">
        <ul id="gallery-list">
          <ng-container *ngFor="let image of images; let index = index">
            <li class="one-third animate-box" data-animate-effect="fadeIn"
              style="background-image: url(/assets/images/Fotos/{{image}}); ">
              <a href="/assets/images/gallery-1.jpg">
                <div class="case-studies-summary">
                  <!-- <span>14 Photos</span> -->
                  <!-- <h2>Two Glas of Juice</h2> -->
                </div>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="services" class="section-gray">
  <div class="container">

    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center heading">
        <h2>We Offer Services</h2>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab
          aliquam dolor eius.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-calendar"></i>
          </span>
          <div class="feature-copy">
            <h3>We Organized Events</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci
              architecto culpa amet.</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-image"></i>
          </span>
          <div class="feature-copy">
            <h3>Photoshoot</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci
              architecto culpa amet.</p>
          </div>
        </div>

        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
          <span class="icon">
            <i class="icon-video"></i>
          </span>
          <div class="feature-copy">
            <h3>Video Editing</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci
              architecto culpa amet.</p>
          </div>
        </div>

      </div>

      <div class="col-md-6 animate-box">
        <div class="video bg" style="background-image: url(/assets/images/img_bg_3.jpg); ">
          <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="gototop js-top">
  <a href="#" class="js-gotop"> <i><span class="glyphicon glyphicon-arrow-up icon"></span></i>
  </a>
</div>

<router-outlet></router-outlet>