<!-- <div class="loader"></div> -->

<!-- Header -->
<header id="header" class="cover" role="banner" style="
    background: url(assets/images/Fotos/Arco_boda_Carol.jpg) no-repeat center
      center;
    background-size: cover;
    <!-- background-attachment: fixed; -->
  " data-stellar-background-ratio="0.5" data-stellar-vertical-offset="50">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc excluded" data-aos-once="true" data-aos="fade-In" data-aos-duration="2000">
            <h1>
              <span class="excluded">Edurne</span>
              <span class="separator excluded">&</span>
              <span class="excluded" >César</span>
            </h1>
            <h2>¡Nos casamos!</h2>
            <div class="simply-countdown simply-countdown-one"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Couple Intro -->
<div id="couple">
  <div class="container" data-aos-once="true "data-aos="fade-up" data-aos-duration="2000">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading">
        <h2>¡Bienvenidos a nuestra boda!</h2>
        <h3>22 de junio de 2024</h3>
        <p></p>
      </div>
    </div>
    <div class="couple-wrap">
      <div class="couple-half" data-aos-once="true" data-aos="fade-right" data-aos-duration="2000">
        <div class="groom">
          <img src="/assets/images/Fotos/Perfil_Edurne_Amarillo.jpg" alt="groom" class="img-responsive" />
        </div>
        <div class="desc-groom">
          <h3>Edurne Zalacáin</h3>
          <p class="intro-text">
            Pamplonica de corazón y valenciana de adopción. Me quedo con el
            cierzo del verano y el sol del invierno, los bosques de hayas y el
            sonido del mar, el mosto y la horchata, el cardo y la paella, lo
            mejor de los dos mundos dan lugar a la combinación perfecta. Y tú,
            que estás leyendo todo esto, formas parte de ella 😘.
          </p>
        </div>
      </div>
      <p class="heart text-center excluded">
        <i style="padding: 15px" class="icon-heart2 excluded">
          <span style="padding-top: 5px" class="glyphicon glyphicon-heart excluded">
          </span>
        </i>
      </p>
      <div class="couple-half" data-aos-once="true" data-aos="fade-left" data-aos-duration="2000">
        <div class="bride">
          <img src="/assets/images/Fotos/Perfil_Cesar.jpg" alt="groom" class="img-responsive" />
        </div>
        <div class="desc-bride">
          <h3>César Luis</h3>
          <p class="intro-text">
          Como en casa en ningún sitio, aunque últimamente me siento un poco camaleón 🦎 con tanta escalada.
          Un buen arroz con pollo de mi abuela y un buen chuletón, son capaces de resucitarme en cualquier momento.
          Me transformo en las bodas <span style="display:block">y no las considero como tal si no suena un Flying Free 🎶. </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Planning-->
<div id="couple-story" class="gradient" data-aos-once="true" data-aos="fade-up" data-aos-duration="2000">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading">
        <h2>Planning</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-0">
        <ul class="timeline">
          <ng-container *ngFor="let event of planning; let index = index">
            <li class=" {{ index % 2 != 0 ? 'timeline-inverted' : '' }} " [attr.data-aos]="getSide(index)"
              data-aos-duration="2000">
              <div class="timeline-badge" style="background-image:url({{ event.image }});"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">
                    {{event.title}}
                    <div  style="font-size:30px;" class="excluded" *ngFor="let text of event.title.split('|'); let index = index">
                      {{event.start}} <span style="font-size:30px;" *ngIf="event.isBus" class="glyphicon glyphicon-arrow-right excluded"></span> {{event.end}}
                    </div>
                  </h3>
                  <span class="date">{{ event.location }}</span>
                </div>

                <div *ngIf="event.time !== undefined" class="timeline-body">
                  <span class="glyphicon glyphicon-time excluded"></span>
                  {{ event.time }}
                </div>
                <div class="timeline-body">
                  <a href="https://goo.gl/maps/ChYTJQnfXt1Wnn7c9">
                    <span class="glyphicon glyphicon-map-marker excluded"></span>
                    Ubicación</a>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Alojamiento-->
<div id="event" class="bg">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading" data-aos-once="true" data-aos="fade-up" data-aos-duration="1000">
        <h2>Alojamiento</h2>
      </div>
    </div>
    <ng-container *ngFor="let row of hotelGroups; let index = index">
      <div class="row">
        <div class="col-md-4 col-sm-4 text-center" *ngFor="let h of row; let i = index">
          <div class="event-wrap" data-aos-once="true" data-aos="flip-up" data-aos-duration="1000">
            <h3>{{ h.name }}</h3>
            <div>
              <a href="{{ h.website }}">
                <span class="glyphicon glyphicon-globe excluded"></span> Web</a>
              <a href="{{ h.link }}">
                <span class="glyphicon glyphicon-map-marker excluded"></span>
                Ubicación</a>
            </div>

          </div>
        </div>
      </div>
      <br />
    </ng-container>
  </div>
</div>
<div id="gallery" class="section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading animate-box">
        <h2>¡Te esperamos!</h2>
      </div>
    </div>
    <div class="row row-bottom-padded-md">
      <div class="col-md-12">
        <ul id="gallery-list">
          <ng-container *ngFor="let image of images; let index = index">
            <li class="one-third" data-aos-once="true" data-aos="fade-In" data-aos-duration="2000"
              style="background-image: url(/assets/images/Fotos/{{ image }}); ">
              <a href="/assets/images/Fotos/{{ image }}">
                <div class="case-studies-summary">
                </div>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="services" class="gradient" style="padding-bottom:0px;">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center heading">
        <h2>Contacto</h2>
      </div>
    </div>

    <div class="row" style="padding-bottom: 98px;">
      <div class="col-sm-4 col-xs-offset-2">
        <div class="feature-left" >
          <span class="icon">
            <i class="glyphicon glyphicon-phone"></i>
          </span>
          <div class="feature-copy">
            <h3>Edurne</h3>
            <p>
              618 938 753 <br />
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-offset-2"   >
        <div class="feature-left" >
          <span class="icon">
            <i class="glyphicon glyphicon-phone"></i>
          </span>
          <div class="feature-copy">
            <h3>César</h3>
            <p>
              616 199 313 <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gototop" [ngClass]="{'active': isScrolled}"(click)="scrollToTop()" >
 <a href="#" class="">
    <i><span class="glyphicon glyphicon-arrow-up icon excluded"></span></i>
  </a>
</div>


<router-outlet></router-outlet>
