// GALLERY
#gallery-list {
  @include flexwrap;
  @include flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    display: block;
    padding: 0;
    margin: 0 0 10px 1%;
    list-style: none;
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    position: relative;
    @include border-radius(7px);

    @media screen and (max-width: $screen-xs) {
      margin-left: 0;
    }

    a {
      min-height: 400px;
      padding: 2em;
      position: relative;
      width: 100%;
      display: block;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        z-index: 80;
        @include transition(0.5s);
        @include border-radius(7px);

        background: rgba(0, 0, 0, 0.2);
      }

      &:hover {
        &:before {
          background: rgba(0, 0, 0, 0.5);
        }
      }

      .case-studies-summary {
        width: auto;
        bottom: 2em;
        left: 2em;
        right: 2em;
        position: absolute;
        z-index: 100;

        @media screen and (max-width: $screen-sm) {
          bottom: 1em;
          left: 1em;
          right: 1em;
        }

        span {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 13px;
          color: rgba(255, 255, 255, 0.7);
        }

        h2 {
          color: $brand-white;
          margin-bottom: 0;

          @media screen and (max-width: $screen-sm) {
            font-size: 20px;
          }
        }
      }
    }

    &.one-third {
      width: 32.3%;

      @media screen and (max-width: $screen-sm) {
        width: 49%;
      }

      @media screen and (max-width: $screen-xs) {
        width: 100%;
      }
    }
  }
}
